/* Layout */
body {

    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: center;
    }

.clockbox,
#clock {
    /*width: fit-content;*/
    /*height: 50%;*/
    margin: 0;
    padding: 0;
    }

.clockbox {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    }



/* Clock styles */
.circle {
    fill: none;
    stroke: black;
    stroke-width: 14;
    stroke-miterlimit: 10;
    }

.mid-circle {
    fill: #000;
    }

.hour-marks {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-miterlimit: 10;
    }

.hour-arm {
    fill: none;
    stroke: rgb(54, 54, 54);
    stroke-width: 17;
    stroke-miterlimit: 10;
    stroke-linejoin: round;
    }

.minute-arm {
    fill: none;
    stroke: grey;
    stroke-width: 11;
    stroke-miterlimit: 10;
    stroke-linejoin: round;

    }

.second-arm {
    fill: none;
    stroke: darkred;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke-linejoin: round;

    }

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
    }
svg{
    width: 100%;
    height: 100%;
    }
/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform ease-in-out;
    }
